/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-back-color2: #23263a;
  --main-color2: #ff4a57;
  --trnsation: 0.7s ease;

  --text-gry-color: #777777;
  --main-back-color: #202020;
  --main-color: #feda4e;
  --main-color2: #fe4e4e;
  --main-color3: #19c8fa;
  --main-color-treans: #19c9fa88;
  --main-color-treans: rgba(15, 116, 143, 0.7);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-back-color);
  color: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.bd{
  border: 1px solid #000;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;

  }
}
/* End Global Rules */

/* Start Header ------------------------------------------------ */

header {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.966);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  /* position: relative; */
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 97px;
}
.bottom-header-line{
    background-color: #a2a2a2;
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    z-index: -1;
}



header .tLogo {
  text-align: center;
  height: 40px;
  width: fit-content;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 10px;
  position: relative;
}
header .tLogo::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: var(--main-color3);
  overflow: hidden;
  width: 0%;
  transition: 0.7s ease;
}
.logo{
    transition: 0.7s ease;
}
.logo:hover .tLogo::before{
    width: 100%;
  }








.toggle-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid rgb(255, 0, 0); */
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  background-color: white;
  width: 100%;
  height: 2px;
  position: relative;
  transition: 0.3s ease;
}
.toggle-menu:hover span,
.toggle-menu:hover .n2::after {
  background-color: var(--main-color3);
}
.toggle-menu .n2::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
}

.toggle-icon .n1,
.toggle-icon .n3 {
  width: 0%;
}
.toggle-icon .n2 {
  transform: rotate(225deg);
}
.toggle-icon .n2::after {
  transform: rotate(-90deg);
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 30px; */
}









/* Start mop-Header ------------------------------------------------ */

@media (max-width: 767px) {
  .tLogo{
    font-size: 35px !important;
  }
  header nav ul {
    display: none;
  }
}

.nListOn {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  background-color: rgba(58, 71, 82, 0.945);
}
.nListOn li {
  /* height: 10px; */
  width: calc(100% - 30px);
}
.nListOn li a {
  padding: 10px;
  font-size: large;
  font-weight: 500;
}
.nListOn li a:hover{
  background-color: var(--main-color-treans);
}
header nav li {
  margin-right: 10px;
}
/* End mop-Header ------------------------------------------------ */

header nav ul li a {
  display: block;
  padding: 40px 10px;
  font-size: 14px;
  border-bottom: 2px solid #19c9fa00;
  transition: 0.3s ease;
}
header li a:hover,
header li .active {
  color: var(--main-color3);
  border-bottom: 2px solid var(--main-color3);
}
header .form {
  margin-left: 40px;
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
}
header .form i {
  font-size: 18px;
  padding: auto;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease;
}
header .form i:hover {
  color: var(--main-color3);
}





/* End Header -------------------------------------------------*/

/* Start Landing ------------------------------------------------ */
.landing {
  background-color: #202020;
  background-image: url(../image/landing-back-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  height: 100vh;
  width: 100%;
}
.profilePic {
  /* background-color: var(--main-color-treans); */
  position: absolute;
  width: 50%;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  display: flex;
  justify-content: center;
}
.profilePic .img {
  /* padding: 50px; */
  max-height: 30%;
  /* max-width: 50%; */
  display: flex;
  justify-content: center;
}
.profilePic .img img {
  height: 100%;
  border: 5px solid var(--main-color3);
  border-radius: 50%;
}
.floatDesc {
  background-color: var(--main-color-treans);
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translatey(-50%);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.floatDesc .descContainer {
  max-width: 600px;
}
.floatDesc .descContainer h2 {
  line-height: 1.5;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
}
.floatDesc .descContainer h2 span {
  color: rgba(255, 255, 255, 0.685);
  font-size: 22px;

}
.floatDesc .descContainer a {
    color: var(--main-color3);
    font-weight: 800;
    letter-spacing: 2px;
  }

.floatDesc .descContainer p {
  line-height: 2;
  font-size: 14px;
}
  .floatDesc .descContainer p i {
    font-size: 2em;
    padding: 0 10px;

    transition: var(--trnsation);
  }
  .floatDesc .descContainer p i:hover {
    /* transform: scale(1.1); */
    color: var(--main-color2);
    /* transform: rotate(1deg); */
  }
  

/* --------------------media-mobile----------------- */
@media (max-width: 767px) {
    .floatDesc,
    .floatDesc .descContainer {
      width: 100%;
    }
    /* .floatDesc{
      margin-bottom: 100px;
    } */
    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    .profilePic {
      width: 100%;
      margin-top: -80px;
    }
    .profilePic .img {
      width: 100%;
      padding: 0;
      margin: 0;

    }
    .profilePic img {
      width: 80%;
    }
  
    .floatDesc {
      position: relative;
      bottom: -100px;
      padding: 10px;
      margin: 0;
      text-align: center;
      top: 40%;

    }
  
    .floatDesc .descContainer {
      bottom: 0;
    }
    .floatDesc .descContainer h2  {
        margin-bottom: 10px;
        line-height: 1;

    }
    .floatDesc .descContainer h2 span {
      font-size: 18px;
    }
    .floatDesc .descContainer p {
        margin-bottom: 10px;
        color: rgb(221, 221, 221);
      }
      
  }
/* End Landing ------------------------------------------------ */



/* Start Title componant ------------------------------------------------ */
/* ----------------------------------- */
.title{
    padding-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-color3);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title h2{
    width: fit-content;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--main-color3);
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.title h2::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--main-back-color);
    border: 2px solid var(--main-color3);
    bottom: -16px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title p{
    color: var(--text-gry-color);
}
.title p{
}
/* End Title componant ------------------------------------------------ */
/* ----------------------------------- */







/* Start About Me ------------------------------------------------ */

.iam .cont{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid #000; */

}
.iam .cont  .img1{
  display: block;
  max-width: 50%;
  border-bottom: 2px solid var(--main-color3);
}
.iam .cont p{
  color: var(--text-gry-color);
  border-left: 2px solid var(--main-color3);
  padding-left: 10px;
  max-width: 50%;
  font-size: 1.2rem;
  line-height: 1.5;
  position: relative;
}
.iam .cont .seg{
  width: 100px;
  float: right;
  position: absolute;
  right: 50px;
  bottom: -35px;
  display: block;
  transform: rotate(-5deg);
}

@media (max-width: 767px) {
  .iam .cont{
    flex-direction: column;
    /* border: 1px solid #000; */
    
  }
  .iam .cont .img1{
    height: 120px;
    width: 200px;
    object-fit: cover;
    object-position: 0 0;
    padding-left: 10px;
  }
  .iam .cont p{
    border: none;
    text-align: center;
    max-width: 100%;
    font-size: 1rem;
    padding: 0;
    position: relative;
  }
  .iam .cont .seg{
    position: absolute;
    right: calc( 45vw - 100px );
    transform: translateX(-50%);
    /* border: 1px solid #000; */
    transform: rotate(-5deg);

  }
  
}

/* End About Me ------------------------------------------------ */







/* ---------------------Start Skills ----------------- */
.Skills .container .title p{
  max-width: 500px;
}
.Skills .cont {
  /* flex-basis: 50%; */
}
.Skills .cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid #000; */
}


.skillsCont{
  /* border: 1px solid #000; */
  max-height: 493.9px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: var(--trnsation);
  /* scrollbar-width: thin; */
}
.skillsCont:hover{
  background-color: #24263d9a;
}


/* scrollbar */
/* width */
.skillsCont::-webkit-scrollbar {
  width: 3px;
}
/* Track */
.skillsCont::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 10px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:#ff4a566e; 
  transition: var(--trnsation);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--main-color2);  */
}




button{
  all: unset;
  height: 25px;
  width: 85px;
  border: 2px solid var(--main-color3);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--trnsation);
  cursor: pointer;
}
button:hover{
  background-color: var(--main-color3);
  border: 2px solid white);
}

.off{
  display: none;
}




.Skills .cont .skill-cont{
  border-right: 2px solid var(--main-color3);
  flex-basis: 50%;
  border-radius: 0 20px 20px 0;
  padding-right: 50px;
}
.Skills .cont img{
  display: block;
  max-width: 50%;
  border: 2px solid var(--main-color3);
  border-radius: 50%;
}


.prog-holder{
  padding: 20px;
  /* margin-bottom: 30px; */
  cursor: pointer;
}
.prog-holder h4{
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1.2rem;

}
.prog-holder .prog{
  width: 100%;
  height: 10px;
  background-color: var(--text-gry-color);
  border-radius:5px;
}
.prog-holder .prog span{
  display: block;
  height: 100%;
  background-color:  var(--main-color3);
  border-radius: 5px;
  position: relative;
  transition: var(--trnsation);
}
.prog-holder:hover .prog span{
  background-color:  var(--main-color2);
}
  .prog-holder .prog span::before{
    content: attr(data-width);
    color: white;
    opacity: .8;
    width: fit-content;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--main-color2) ;
    position: absolute;
    right: -22px;
    bottom: 23px;
}
.prog-holder .prog span::after{
  content: "";
  position: absolute;
  right: -3px;
  bottom: 3px;
  border: 10px solid ;
  border-color:   var(--main-color2) transparent transparent ;
  opacity: .8;
}




@media (max-width: 767px) {
  .Skills .cont{
    flex-direction: column-reverse;
  }
  .Skills .cont .skill-cont{
    border-right:none;
    border-top: 2px solid var(--main-color3);
    border-bottom: 2px solid var(--main-color3);
    border-radius:  20px;
    padding: 20px 0 30px ;
    width: 100%;
  }
  
  
}









/* ---------------------End Skills -------------------- */













/* Start Services -------------------------------- */
.Services{
  /* min-height: 100vh; */
}
/* Start Serv-cont ------------------------------------------------ */

.serv-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  justify-content: center;
}
@media (max-width:500px){
  .serv-cont{
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
.serv-cont .serv-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--text-gry-color);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    transition: 0.7s ease;
}
.serv-cont .serv-box:hover{
    border: 1px solid rgba(255, 255, 255, 0);
}
.serv-cont .serv-box i{
    font-size: xx-large;
    margin: 0 0 20px;
    padding:  10px;
    /* background-color: var(--main-color2); */
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px var(--main-color2);
    transition: var(--trnsation);
}
.serv-cont .serv-box:hover i{
  box-shadow: 0px 0px 0px 400px var(--main-color3);
}
.serv-cont .serv-box .text{

}
.serv-cont .serv-box .text h3{
    padding: 10px;
    transition: var(--trnsation);
}
.serv-cont .serv-box .text p{
    color: var(--text-gry-color);
    line-height: 1.5;
    transition: var(--trnsation);
    font-weight: 500;
}
.serv-cont .serv-box:hover   .text h3{
  text-decoration: underline;
  color: black;
}
.serv-cont .serv-box:hover   .text p{
  color: black;
}


.serv-cont{


}
.serv-cont .serv-box{
    
}
.serv-cont .serv-box i{

}
.serv-cont .serv-box .text{

}
.serv-cont .serv-box .text h3{

}
.serv-cont .serv-box .text p{

}



/* End Serv-cont ------------------------------------------------ */
/* End Services -------------------------------- */





/* Start Contact -------------------------------- */

.Contact .container{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .Contact .container{
    flex-direction: column-reverse;
  }
}

.Contact .container form{
  flex-basis: 70%;
}
.Contact .container form .main-input{
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: var(--trnsation);
}
.Contact .container form .main-input:hover {
  background-color: rgb(193, 240, 255);
}
.Contact .container form .main-input:focus{
outline: none;
}
.Contact .container form textarea.main-input{
  height: 200px;
}
.Contact .container form .mailMe {
  background-color: var(--main-color3);
  color: #fff;
  padding: 15px 20px;
  width: fit-content;
  display: flex;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--trnsation);
}
.Contact .container form .mailMe:hover {
transform: scale(1.05);
color: var(--main-back-color);
}
.Contact .container form{
}
.Contact .container .info{
  width: 25%;
}

@media (max-width: 767px) {
  .Contact .container .info{
  text-align: center;
  width: 100%;
  }
}

.Contact .container .info h4{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.Contact .container .info span{
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.Contact .container .info h4:nth-of-type(2){
  margin-top: 90px;
}
@media (max-width: 767px) {
  .Contact .container .info h4:nth-of-type(2){
    margin-top: 30px;
  }
}

.Contact .container .info address{
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
  .Contact .container .info address{
    margin-bottom: 30px;
  }
}
/* End Contact -------------------------------- */




.popUpOverlay{
  position: fixed;
  transform: translate( -50%, -50%);
  top: 150%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  background-color: #202020e7;
  border: 2px solid var(--main-color3);
  border-radius: 15px;
  transition: var(--trnsation);
}
.popUpOverlay.open{
  top: 50%;
  opacity: 1;
}
#popUpMsmSent{
  color: var(--main-color3);
}



.popUpClose
{
  color: #fff;
  background-color: var(--main-color2);
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--trnsation);
}
.popUpClose:hover {
  transform: rotate(180deg);
}
.popUpMsmSent {
  color: var(--main-color2);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}





/* Start Footer -------------------------------- */

.Footer  {
  background: url(../image/code-background-2.png);
  background: url(../image/code-background-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  margin-top: 50px;
  padding: 50px 0 10px;
  /* border-top: 2px solid var(--main-color3); */

}
.Footer::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #202020d0;
  height: 100%;
  width: 100%;
  border-top: 1px solid var(--main-color3);

}
.Footer .container {
position: relative;
z-index: 20;
text-align: center;
}
.Footer img{
  height: 50px;
  margin-bottom: 10px;
}
.Footer p:not(.copyright) {
  margin: auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  width: fit-content;
  font-size: 22px;
  text-transform: uppercase;
}
.Footer .social {
  margin: 30px;
}
.Footer .social i{
  padding: 10px;
  font-size: 22px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: var(--trnsation);
}
.Footer .social i:hover{
  border-bottom: 2px solid var(--main-color2);
  background-color: var(--main-color3);
  color: #202020;
  border-radius: 10px 10px 0 0;
}
.Footer .copyright span {
  color: var(--main-color3);
}
.Footer .copyright a {
  color: var(--main-color2);
}
@media (max-width: 767px) {
  .Footer .copyright  {
    font-size: small;
  }
  }
/* End Footer -------------------------------- */
/* Start goUp -------------------------------- */
.goUp{
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-bottom: 1px solid var(--main-color3);
  padding: 10px 5px ;
  border-radius: 10px;
  z-index: 100;
  transition: var(--trnsation);
  transform: scale(0);
}
.goUp i{
  font-size: xx-large;
  color: var(--main-color3);
  transition: var(--trnsation);
}
.goUp i:hover {
  color: var(--main-color2);
}
.UpShow{
  transform: scale(1);
}
@media (max-width: 767px) {
  .goUp{right: 10px;}
  .UpShow{transform: scale(0.8);}
}




/* End goUp -------------------------------- */