/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-back-color2: #23263a;
  --main-color2: #ff4a57;

  --text-gry-color: #777;
  --main-back-color: #202020;
  --main-color: #feda4e;
  --main-color2: #fe4e4e;
  --main-color3: #19c8fa;
  --main-color-treans: #19c9fa88;
  --main-color-treans: rgba(15, 116, 143, 0.7);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-back-color);
  color: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header ------------------------------------------------ */

header {
  position: fixed;
  background-color: rgb(33, 33, 33, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  /* position: relative; */
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 97px;
}
.bottom-header-line{
    background-color: #a2a2a2;
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    z-index: -1;
}



header .tLogo {
  text-align: center;
  height: 40px;
  width: fit-content;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 10px;
  position: relative;
}
header .tLogo::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: var(--main-color3);
  overflow: hidden;
  width: 0%;
  transition: 0.7s ease;
}
.logo{
    transition: 0.7s ease;
}
.logo:hover .tLogo::before{
    width: 100%;
  }








.toggle-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid rgb(255, 0, 0); */
}
@media (min-width: 992px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  background-color: white;
  width: 100%;
  height: 2px;
  position: relative;
  transition: 0.3s ease;
}
.toggle-menu:hover span,
.toggle-menu:hover .n2::after {
  background-color: var(--main-color3);
}
.toggle-menu .n2::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
}

.toggle-icon .n1,
.toggle-icon .n3 {
  width: 0%;
}
.toggle-icon .n2 {
  transform: rotate(225deg);
}
.toggle-icon .n2::after {
  transform: rotate(-90deg);
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

/* Start mop-Header ------------------------------------------------ */

@media (max-width: 991px) {
  header nav ul {
    display: none;
  }
}

.nListOn {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  background-color: #0000006c;
}
.nListOn li {
  /* height: 10px; */
  width: calc(100% - 30px);
}
.nListOn li a {
  padding: 10px;
}
.nListOn li a:hover{
  background-color: var(--main-color-treans);
}
header nav li {
  margin-left: 10px;
  margin-right: 10px;
}
/* End mop-Header ------------------------------------------------ */

header nav ul li a {
  display: block;
  padding: 40px 10px;
  font-size: 14px;
  border-bottom: 2px solid #19c9fa00;
  transition: 0.3s ease;
}
header li a:hover,
header li .active {
  color: var(--main-color3);
  border-bottom: 2px solid var(--main-color3);

}
header .form {
  margin-left: 40px;
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
}
header .form i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease;
}
header .form i:hover {
  color: var(--main-color3);
}

/* End Header -------------------------------------------------*/

/* Start Landing ------------------------------------------------ */
.landing {
  background-color: #202020;
  background-image: url(../image/landing-back-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  height: 100%;
  width: 100%;
}
.profilePic {
  /* background-color: var(--main-color-treans); */
  position: absolute;
  width: 50%;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  display: flex;
  justify-content: center;
}
.profilePic .img {
  padding: 50px;
  max-height: 30%;
  display: flex;
  justify-content: center;
}
.profilePic .img img {
  height: 100%;
  border: 5px solid var(--main-color3);
  border-radius: 50%;
}
.floatDesc {
  background-color: var(--main-color-treans);
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translatey(-50%);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.floatDesc .descContainer {
  max-width: 600px;
}


.floatDesc .descContainer h2 {
  line-height: 1.5;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
}
.floatDesc .descContainer p {
  line-height: 2;
  font-size: 14px;
}
.floatDesc .descContainer a {
    color: var(--main-color3);
    font-weight: 800;
    letter-spacing: 2px;
  }
  

/* --------------------media-mobile----------------- */
@media (max-width: 767px) {
    .floatDesc,
    .floatDesc .descContainer {
      width: 100%;
    }
    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    .profilePic {
      width: 100%;
      margin-top: -80px;
      /* top: 280px; */
    }
    .profilePic .img {
      padding: 0;
      margin: 0;
    }
    .profilePic img {
      width: 100%;
    }
  
    .floatDesc {
      position: relative;
      bottom: -100px;
      padding: 10px;
      margin: 0;
      text-align: center;
    }
  
    .floatDesc .descContainer {
      bottom: 0;
    }
    .floatDesc .descContainer h2  {
        margin-bottom: 10px;
        line-height: 1;

    }
    .floatDesc .descContainer h2 span {
      font-size: 18px;
    }
    .floatDesc .descContainer p {
        margin-bottom: 10px;
        color: rgb(221, 221, 221);
      }
      
  }
/* End Landing ------------------------------------------------ */





.title{
    padding-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-color3);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title h2{
    width: fit-content;
    border-bottom: 2px solid var(--main-color3);
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.title h2::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--main-back-color);
    border: 2px solid var(--main-color3);
    bottom: -16px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title p{
    color: var(--text-gry-color);
}
.title p{
    /* animation: typing 2s steps(22), blink 0.5s step-end i; */
}






/* Start Services -------------------------------- */
.Services{
  min-height: 100vh;
}
/* Start Serv-cont ------------------------------------------------ */

.serv-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  justify-content: center;
}
.serv-cont .serv-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--text-gry-color);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    transition: 0.7s ease;
}
.serv-cont .serv-box:hover{
    border: 1px solid rgba(255, 255, 255, 0);
}
.serv-cont .serv-box i{
    font-size: xx-large;
    padding: 0 0 20px;
}
.serv-cont .serv-box .text{

}
.serv-cont .serv-box .text h3{
    padding: 10px;

}
.serv-cont .serv-box .text p{
    color: var(--text-gry-color);
    line-height: 1.5;
}



.serv-cont{


}
.serv-cont .serv-box{
    
}
.serv-cont .serv-box i{

}
.serv-cont .serv-box .text{

}
.serv-cont .serv-box .text h3{

}
.serv-cont .serv-box .text p{

}



/* End Serv-cont ------------------------------------------------ */







/* End Services -------------------------------- */